body{
  font-family: 'Mochiy Pop One', sans-serif;
    background-color: black;
    color: blanchedalmond;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-image: url("../img/bg\ add.jpg");
    
}
ul {    
    text-align: center;
    list-style-type: none;
     display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin: 2%;
   padding: 20px;
   text-decoration: none; 
   justify-content: space-between;
    margin: 1%;
}
 nav {
    width: 100%;
    height: 10vh;
    text-align: center;
    box-shadow: 5px 5px 5px #2b2c2a;
    background: linear-gradient(#0e0d0d,#d1181859);
    border-radius: 3%;      
}
nav a{ 
  text-decoration: none; 
  color: rgb(233, 227, 227);
  font-size: 20px;
  transition: 2s;
}
nav a:hover{
  color: rgb(245, 8, 8);
  font-size: 24px;

}


#cardMoviesSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .btnCardDetails{
    margin: 2%;
    background-color: rgb(8, 0, 0);
    color: red;
    height: 37px;
    width: 100px;
    border-radius: 10%;
    font-weight: bold;
  }
  .cardMovie {
    font-size: large;
    width: 47vh;
    height: 70vh;
    box-shadow: 5px 5px 5px red;
    background: linear-gradient(rgba(23, 23, 24, 0.733),rgba(23, 23, 24, 0.705), #f10606a4);
    margin: 2%;
    /* border: 6px solid rgb(226, 22, 15); */
    text-align: center;
    border-radius: 10%;
    transition: 2s;
  }
  /* .cardMovie:hover{
      background: linear-gradient(#f10606a4,rgba(23, 23, 24, 0.733),rgba(23, 23, 24, 0.705) );
  } */
  #imgGif{
    padding: 5%;
    width: 99vh;
    height: 90vh;
    /* margin-left: 5%; */
    
}
.cardMovie img{
  width: 25vh;
    height: 40vh;
    opacity: 0.8;
    transition: 2s;
}
.cardMovie img:hover{
    width: 27vh;
    height: 42vh;
    opacity: 0.6; 
  }
  footer{
    background: linear-gradient(#0e0d0da6,#2b2c2a9f);
    text-align: center;
    color: white;
    padding: 1%;
    margin: 1%;
}
footer a{
  text-decoration: none; 
 color: rgb(233, 227, 227);
  font-size: 20px;
  transition: 2s;
}
footer a:hover{
 color: rgb(233, 10, 10);
  font-size: 23px;

}
#titelFooter{
    color: red
}
.imgContact{
    margin: 0.5%;
    width: 45px;
    height: 45px;
}