body{
    font-family: 'Mochiy Pop One', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-image: url("../img/bg\ add.jpg");
}
ul {    
    text-align: center;
    list-style-type: none;
     display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin: 2%;
   padding: 20px;
   justify-content: space-between;
    margin: 1%
}
ul a{
   text-decoration: none; 
   color: rgb(233, 227, 227);
    font-size: 20px;
}
 nav {
    width: 100%;
    height: 10vh;
    text-align: center;
    box-shadow: 5px 5px 5px #2b2c2a;
    background: linear-gradient(#0e0d0d,#d1181859);
    border-radius: 3%;  
    font-size: 20px;  
    
}
nav a{
    transition: 2s;
}
nav a:hover{
 color: rgb(236, 11, 11);
 font-size: 24px;
}
#imgCenter{
    width: 98vh;
    height: 40vh
}
/* header{
    display: flex;
  
} */
#imgYakov{
margin-left: 90%;
width: 80px;
height: 50px;
margin-bottom: -50px;
margin-top: -20px;
border-radius: 10px;

} 
 #imgTech{
    margin-right: 90%;
    width: 80px;
height: 50px;
margin-top: -10px;
border-radius: 10px;
}

#textMovieSec{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin: 2%; 
    width: 90%; 
    padding: 20px;
    justify-content: space-between;
}
.text{
    box-shadow: 5px 5px 5px #2b2c2a;
    text-shadow: 2px 2px 2px rgb(133, 123, 123);
    width: 32%;
    height: 80px;
    font-size: 20px;
    background-color: rgba(248, 247, 232, 0.192);
    border-radius: 10px;
}
.text a{
    color: black;
   text-decoration: none; 
   transition: 1s;
}
.text a:hover{
    font-size: 23px;
}
footer{
    background: linear-gradient(#0e0d0da6,#2b2c2a9f);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 1%;
    margin: 1%;
}
#titelFooter{
    color: red
}
footer a{
    text-decoration: none; 
   color: rgb(233, 227, 227);
    font-size: 20px;
    transition: 2s;
}
footer a:hover{
   color: rgb(233, 10, 10);
    font-size: 23px;

}
.imgContact{
    margin: 0.5%;
    width: 45px;
    height: 45px;
    transition: 2S;
}

